.wysiwyg-formik {
  position: relative;
  padding-bottom: 18px;
}

.wysiwyg-formik__editor {
  padding: 35px 20px 20px;
  font-family: 'Poppins';

  scrollbar-color: rgba(156, 156, 156, 0.5) #F0F0F0;
  scrollbar-width: thin;

  &.rdw-editor-main {
    overflow: inherit;
  }

  span {
    &.rdw-suggestion-option {
      cursor: pointer;

      &:hover {
        background-color: #f8f9fa;
      }
    }
  }

  &::-webkit-scrollbar-track {
    border-radius: 2px;
    background-color: #F0F0F0;
  }

  &::-webkit-scrollbar {
    width: 7px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 2px;
    background-color: rgba(156, 156, 156, 0.5);
  }

  .public-DraftStyleDefault-block {
    margin: 0;
  }

  & .rdw-image-imagewrapper img {
    max-width: 100%;
  }
}

.wysiwyg-formik__wrapper {
  width: 100%;
  display: flex;
  flex-direction: column-reverse;
  border: 1px solid #0095e9;
  border-radius: 6px;
}

.wysiwyg-formik__toolbar {
  padding: 5px;
  border: none !important;
  border-top: 1px solid #F1F1F1 !important;

  & > div {
    margin-bottom: 0;

    & > div {
      border: none;
    }
  }

  &:not(&_extra-options) .rdw-block-wrapper,
  &:not(&_extra-options) .rdw-fontsize-wrapper,
  &:not(&_extra-options) .rdw-fontfamily-wrapper,
  &:not(&_extra-options) .rdw-list-wrapper,
  &:not(&_extra-options) .rdw-text-align-wrapper,
  &:not(&_extra-options) .rdw-colorpicker-wrapper,
  &:not(&_extra-options) .rdw-dropdown-wrapper{
    display: none;
  }

  &_min-options {
    & [title="Italic"],
    & [title="Underline"],
    & [title="Strikethrough"],
    & [title="Monospace"],
    & [title="Superscript"],
    & [title="Subscript"] {
      display: none;
    }
  }

  & > button {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
  }
}

.wysiwyg-formik__toggle {
  margin-left: 0 !important;

  &_remove-options {
    display: none;
  }
}

.wysiwyg-formik__edit-wrapper {
  position: absolute;
  top: 1px;
  left: 2px;
  width: calc(100% - 2px);
  display: flex;
  justify-content: space-between;
  background-color: #f7f7f7;
  padding: 5px 20px;
  border-radius: 6px 6px 0 0;
}

.wysiwyg-formik__edit-close {
  background-color: transparent;
  border: none;
  padding: 0;

  &:hover {
    opacity: 0.8;
  }
}

.wysiwyg-formik__error {
  font-size: 13px;
  color: red;
  position: absolute;
  bottom: 0;
  left: 0;
  line-height: 1;
}
